
.vs/*
**/bin/Debug/**/*
**/obj/Debug/**/*
**/bin/Release/**/*
**/obj/Release/**/*
**/obj/*.csproj.nuget.dgspec.json
**/obj/*.csproj.nuget.g.props
**/obj/*.csproj.nuget.g.targets
**/obj/project.assets.json
**/obj/project.nuget.cache
**/*.sqlproj.user
**/*.csproj.user

*.jfm
*.dbmdl
*.nupkg
nuget.exe
*.user
